@import "colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 750;
  font-style: normal;
  font-size: 18.2px;
  line-height: 1;
  letter-spacing: 0;
  background: var(--bg);
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

button {
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

span,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text);
}